ion-content{
    align-items: center;
    background: linear-gradient(to right, #904779 0%, #fff 100%);
    padding-top: 50px;
}




.icon{
    border-radius: 50%;
    background-color: #eceff0;
    width: 100px;
    height: 100px;
    position: relative;
}

ion-row{
    padding: 5%;
}
ion-header{
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color:white;

        ion-avatar{
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    
    ion-buttons{
        text-align: right;
        background-color: #fff;
        
        .bIcon {
            background-color: #fff;
            size: 100%;
            ion-icon{
                color: red;
                background-color: #fff;
                padding: 3px;
                height: 20px;
                width: 20px;
            }
        }
        
        
    }

    border-bottom-color: #c42e36;
}
ion-footer{
    background-color:#c42e36;
    a{
        color:rgb(255, 255, 255);        
    }
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid{
    align-items: center;
}
.logo{
    width: 10%;
    height: 20%;
    border-radius: 50%;
}